body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #242424;
  }
  
  span{
    text-shadow: 
    1px 1px 0 black,  
    -1px -1px 0 black,  
    1px -1px 0 black,  
    -1px 1px 0 black;
    font-size: 20px;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .circleContainer{
    position:relative;
    width:600px;
    height:600px;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .circleMajor{
    width: 600px;
    height: 600px;

  }
  
  .circleMinor{
    width: 300px;
    height: 300px;
    left: 150px;
    top: 150px;
    pointer-events:none;
  }

  .section {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 37% 0%, 64% 0%);
    transform-origin: 50% 50%;
    transform: rotate(var(--rotateValue));
    display:flex;
    justify-content:center;
  }
  
  .hideSection{
    opacity:0.2;
    outline: 2px solid black;
  }

  .hideSection>span{
    font-size:0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
  }
  
  .section1 {
    --rotateValue: 0deg;
    background-color: #f39f00;
  }
  
  .section2 {
    --rotateValue: 30deg;
    background-color: #f2cf03;
  }
  
  .section3 {
    --rotateValue: 60deg;
    background-color: #9bd42f;
  }
  
  .section4 {
    --rotateValue: 90deg;
    background-color: #0dc63c;
  }
  
  .section5 {
    --rotateValue: 120deg;
    background-color: #28d9c7;
  }
  
  .section6 {
    --rotateValue: 150deg;
    background-color: #008efe;
  }
  
  .section7 {
    --rotateValue: 180deg;
    background-color: #5638e5;
  }
  
  .section8 {
    --rotateValue: 210deg;
    background-color: #9c01fd;
  }
  
  .section9 {
    --rotateValue: 240deg;
    background-color: #ce1ad3;
  }
  
  .section10 {
    --rotateValue: 270deg;
    background-color: #fb43a3;
  }
  
  .section11 {
    --rotateValue: 300deg;
    background-color: #eb1a1d;
  }
  
  .section12 {
    --rotateValue: 330deg;
    background-color: #f06a13;
  }

span{
  pointer-events:none;
}